name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build -t myimage:latest .
    - name: run the container
      run: docker run -d -p myimage:8080 .
    - name: see the container
      run: docker ps 
